@import "tailwindcss";
@import "./colors.css";
@import "./text.css";
@import "./toast.css";
@import "./scrollbar.css";
@import "./calendar.css";

@layer base {
  body {
    font-family: "Pretendard", sans-serif;
    color: var(--color-black3);
  }
  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: default;
  }
}